# Binaries
[Bb]in/
[Bb]in-[Ii]nt/

# Visual Studio files and folder
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.csproj
*.csproj.user
*.ini

/**/Makefile

# ArcEngine files
*.log
Arc-Editor/Resources/Scripts
!/Arc-Editor/imgui.ini

# Cache
.[Cc]ache/
