[submodule "Arc/vendor/spdlog"]
	path = Arc/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Arc/vendor/GLFW"]
	path = Arc/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Arc/vendor/imgui"]
	path = Arc/vendor/imgui
	url = https://github.com/TheCherno/imgui
