# Binaries
[Bb]in/
[Bb]in-[Ii]nt/

# Visual Studio files and folder
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.csproj
*.csproj.user
*.ini

packages/
/**/packages.config

/**/Makefile

!Arc/vendor/WinPixRuntime/**

# ArcEngine files
*.log
*.pdb
Arc-Editor/Resources/Scripts
!/Arc-Editor/imgui.ini

# Cache
.[Cc]ache/
